Repository cs-samvith/space-app-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/code-deploy-aca-bicep.yml, .pipelines/code-deploy-aca.yml, .pipelines/csharp-api-v1v2-deploy-aca.yml, .pipelines/microsvcs/tm-frontend-deploy.yml, .pipelines/tm-microservices/tm-backend-processor-deploy.yml, .pipelines/tm-microservices/tm-frontend-ui-deploy.yml

Path conditions:
  .pipelines/code-deploy-aca-bicep.yml: any of: apps/single/src, .pipelines/code-deploy-aca-bicep.yml
  .pipelines/code-deploy-aca.yml: any of: apps/single/src, .pipelines/code-deploy-aca.yml
  .pipelines/csharp-api-v1v2-deploy-aca.yml: any of: apps/csharp-api-v2, .pipelines/csharp-api-v1v2-deploy-aca.yml
  .pipelines/microsvcs/tm-frontend-deploy.yml: any of: apps/microsvcs/TasksTracker.WebPortal.Frontend.Ui, .pipelines/microsvcs/tm-frontend.yml, .pipelines/microsvcs/tm-frontend-deploy.yml
  .pipelines/tm-microservices/tm-backend-processor-deploy.yml: any of: apps/tm-microservices/TM.Backend.Processor, .pipelines/tm-microservices/tm-backend-processor.yml, .pipelines/tm-microservices/tm-backend-processor-deploy.yml
  .pipelines/tm-microservices/tm-frontend-ui-deploy.yml: any of: apps/tm-microservices/TM.Frontend.Ui, .pipelines/tm-microservices/tm-frontend-ui.yml, .pipelines/tm-microservices/tm-frontend-ui-deploy.yml

use diff port for second container in a replica
  .pipelines/csharp-api-v1v2.yml
  apps/csharp-api-v2/Dockerfile
Due: .pipelines/csharp-api-v1v2-deploy-aca.yml

add health with new readiness
  .pipelines/csharp-api.yml
  apps/csharp-api/Controllers/CacheController.cs
  apps/csharp-api/Health/CustomHealthCheck.cs
  apps/csharp-api/Health/HealthCheck.cs
  apps/csharp-api/Health/ReadinessMemoryHealthCheck.cs
  apps/csharp-api/Health/RemoteHealthCheck.cs
  apps/csharp-api/Models/Customer.cs
Due: none

increase min replica
  .pipelines/csharp-api.yml
Due: none

not a liveness endpoint
  apps/csharp-api/Health/HealthCheck.cs
Due: none

try testing scaling
  .pipelines/csharp-api.yml
  postman/c-sharp-api.postman_collection.json
Due: none

pushing changes so far
  apps/tm-microservices/.vscode/launch.json
  apps/tm-microservices/.vscode/settings.json
  apps/tm-microservices/.vscode/tasks.json
  apps/tm-microservices/TM.Backend.Api/Dockerfile-local
  apps/tm-microservices/TM.Backend.Api/Health/CustomBuilderExtensions.cs
  apps/tm-microservices/TM.Backend.Api/Services/TasksStoreManager.cs
  apps/tm-microservices/TM.Backend.Api/docker-compose copy.yml
  apps/tm-microservices/TM.Backend.Api/docker-compose.yml
  apps/tm-microservices/TM.Backend.Processor/Dockerfile-local
  apps/tm-microservices/TM.Frontend.Ui/Dockerfile-local
  apps/tm-microservices/TM.Frontend.Ui/Pages/Tasks/Index.cshtml.cs
  apps/tm-microservices/TM.Frontend.Ui/docker-compose.yml
  apps/tm-microservices/docker-compose-working.yml
  apps/tm-microservices/docker-compose.yml
  apps/tm-microservices/local-commands.txt
  container-apps-new.docx
  container-apps.pptx
Due: .pipelines/tm-microservices/tm-backend-processor-deploy.yml, .pipelines/tm-microservices/tm-frontend-ui-deploy.yml
