Repository cs-samvith/space-app-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/code-deploy-aca-bicep.yml, .pipelines/code-deploy-aca.yml

Path conditions:
  .pipelines/code-deploy-aca-bicep.yml: any of: apps/single/src, .pipelines/code-deploy-aca-bicep.yml
  .pipelines/code-deploy-aca.yml: any of: src, .pipelines/code-deploy-aca.yml

path
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

full path
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

update env id
  .pipelines/single.yml
Due: none

Update single.yml
  .pipelines/single.yml
Due: none

Update code-deploy-aca.yml
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

change app name
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

dynamic
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

tas name is app name
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

remove task name
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

add app anme
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

try with original
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

try with this one
  .pipelines/single.yml
Due: none

try with auth
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

lower case
  .pipelines/single.yml
Due: none

i dont know
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

now
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

update app name
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

try with just acr
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

use lib variable
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

password in var
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

cleanup
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

enable ingress
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

Add traffic weightage
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

add app name back
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

grr
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

correct tags
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

set min and max replicas
  .pipelines/single.yml
Due: none

quick ones
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

new image
  .pipelines/code-deploy-aca.yml
Due: .pipelines/code-deploy-aca.yml

latestRevision = true
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

Add env
  .pipelines/code-deploy-aca.yml
  .pipelines/single.yml
Due: .pipelines/code-deploy-aca.yml

A big change
  .pipelines/single.yml
  apps/single/src/server.js
  apps/single/src/src/App.js
  container-apps.pptx
Due: .pipelines/code-deploy-aca-bicep.yml

add liveness endpoint
  .pipelines/single.yml
  apps/single/src/server.js
Due: .pipelines/code-deploy-aca-bicep.yml

on 8080
  .pipelines/single.yml
Due: none
